body {
    margin: auto;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.container{
    max-width: 940px;
    margin: 2%;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container > .table_input > tbody > tr >td  {
    width: 200px;
}

.container > h1 {
    color: #003030;
}
.container > .table_input > tbody > tr >td:last-of-type > select  {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    padding: 5px;
}
.container > .table_input > tbody > tr >td:first-of-type{
    color: #003030;
    font-weight: bold;
}

.container > .table   {
    overflow-x: auto;
}

.container > .table > table{
    border-collapse: collapse;
}

.table >table , .table th , .table td {
    border: 1px solid #003030;
}


.table th {
    padding: 10px;
}

.table td {
    font-size: 15px;
}